@model LearningCenter.Website.Models.IndividualClassModel

@{
    ViewBag.Title = "EnrollInClass";
}

<h2>Enroll In Class</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("EnrollInClass", "Home", FormMethod.Post, new { role = "form" }))
        {
            @* Class selection dropdown *@
            <div class="form-group">
                @Html.DropDownListFor(m => m.ClassId, // 1. Store selected value in Model.State;
                                                           // when page is rendered after postback,
                                                           // take selected value from Model.State.

                                                // 2. Take list of values from Model.States
                                                Model.classes,

                                                // 3. Text for the first 'default' option
                                                "- Please select a course -",

                                                //4. A class name to assign to <select> tag
                                                new { @class = "form-control" })
            </div>

            
            <button type="submit" class="btn btn-primary">Add Class</button>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








