@model BirthdayCardGenerator.Models.BirthdayMessageDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BirthdayGenerator</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <h1>Birthday Card Generator</h1>
    <h2>Send a Birthday Card</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>From: @Html.TextBoxFor(t => t.Sender)</p>
        <p>To: @Html.TextBoxFor(t => t.Receiver)</p>
        <p>Message: @Html.TextBoxFor(t => t.Message)</p>
        <input class = "btn btn-success"type="submit" value="Send Card" />

    }
</body>
</html>
